@import "../../variables.scss";

:host {
  display: block;
  padding-top: 1rem;

  .about {
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      line-height: 1.5rem;
    }

    img {
      max-height: 200px;
      max-width: 200px;
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 50%;
      margin: 2rem auto;
    }
    .button-container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1.5rem;
      a {
        max-width: 250px;
        width: 100%;
        .cv-button {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          max-width: 250px;
          width: 100%;
          height: 3rem;
          margin: auto;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: 1px solid $golden-color;
          border-radius: 1rem;
          svg {
            height: 2.35rem;
            width: auto;
            fill: $golden-color;
            margin-right: 1rem;
          }

          p {
            color: #f2e5b9;
          }
        }
      }
    }
  }

  .skills {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .container {
      h3 {
        font-size: 1.2rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 8px 10px;
        padding: 0px;
        margin: 1rem 0 0;

        @media (max-width: 310px) {
          grid-template-columns: none;
        }

        li:before {
          content: "▹";
          color: $golden-color;
        }
      }
    }
  }
}
