<div class="about">
  <div class="to-fade-in">
    <h2>about me</h2>
    <div class="about_content">
      <img src="./assets/por.png" alt="portrait" />
      <p>
        Hi, my name is Jan Skiba. I'm learning frontend development and and
        studying computer science at the John Paul II Catholic University Of
        Lublin. Click the button below to download my resume.
      </p>
    </div>

    <div class="button-container">
      <a href="./assets/resume.pdf" target="_blank" rel="noopener">
        <div class="cv-button">
          <p>resume.pdf</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="to-fade-in">
  <div class="skills">
    <div class="container">
      <h3>here's what i used in my projects</h3>

      <ul>
        <li>JavaScript</li>
        <li>Webpack</li>
        <li>Angular</li>
        <li>Firebase</li>
        <li>TypeScript</li>
        <li>Prestashop</li>
        <li>HTML5</li>
        <li>Wordpress</li>
        <li>SCSS/CSS</li>
        <li>VS Code</li>
        <li>Git</li>
        <li>Adobe XD</li>
      </ul>
    </div>
  </div>
</div>
