@import "../../variables.scss";
:host {
  display: block;
  text-align: center;
  margin: 5rem 7%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  p {
    a {
      text-decoration: underline;
      word-break: break-all;
    }
  }

  .email-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 250px;
    width: 100%;
    height: 3rem;
    margin: 1.5rem auto 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid $golden-color;
    border-radius: 1rem;
    p {
      color: #f2e5b9;
    }
  }
}
