<div class="navbar">
  <a href="#home">
    <div class="logo">
      <p>j</p>
    </div></a
  >
  <div class="nav-icon" (click)="changeNavState()">
    <span [@animateTop]="isOpen ? 'x' : 'hamburger'"></span>
    <span [@animateCenter]="isOpen ? 'x' : 'hamburger'"></span>
    <span [@animateBottom]="isOpen ? 'x' : 'hamburger'"></span>
  </div>
</div>
<nav [@openClose]="isOpen ? 'open' : 'closed'">
  <ul>
    <li *ngFor="let link of navLinks" (click)="changeNavState()">
      <a href="{{ link.href }}"> {{ link.name }} </a>
    </li>
  </ul>
</nav>
