@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  color: $base-text-color;
  letter-spacing: 0.1rem;

  body {
    min-height: 100vh;
    background: $background-color;

    a,
    li {
      text-decoration: none;
      list-style: none;
    }
  }
}
